body {
    background-image: url("assets/acti-para-bkgJPG.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}
.Debut {
    margin-top: 32%;
    margin-left: 40%;
 }
.activite {
    background-color: rgba(255,255,255);
    display: flex;
    justify-content: space-around;
}
.activite:hover img {
    height: 450px;
}

.img-activite {
    height: 400px;
    transition: 3s;
}

.text-activite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    border: 3px solid black;
    margin: 60px;
    padding: 15px;
    background-color: rgba(255,255,255);
    font-size: 20px;
}

p {
    text-align: center;
}

.btn {
    top: 50%;
    left: 50%;
    background-color: goldenrod;
    color: white;
    font-size: 24px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}
.btn a {
    text-decoration: none;
    color: white;
}
.btn:hover {
    background-color:   rgb(24, 24, 24);
}

h1 {
    color: white;
    background-color: rgba(0,0,0,0.6);
}

.fleche-bas {
    margin-top: 12%;
    margin-left: 40%;
}