/* body {
    background-image: url("assets/acti-bkg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */

.activite {
    background-color: rgba(255,255,255);
    display: flex;
    justify-content: space-around;
}
.activite:hover img {
    height: 450px;
}

.img-activite {
    height: 400px;
    transition: 3s;
}

.text-activite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    border: 3px solid black;
    margin: 60px;
    padding: 15px;
    background-color: rgba(255,255,255);
    font-size: 20px;
}

p {
    text-align: center;
}