div#slider { width: 100%; max-width: 1600px; }
div#slider figure {
    position: relative; 
    width: 500%;
    margin: 0px;
    padding: 0px;
    font-size: 0;
  }
  div#slider figure img { width: 20%; height: 24%; float: left; }
div#slider { width: 100%; max-width: 1600px; overflow: hidden }
 
  @keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    100% { left: 0%; }

  }

  div#slider figure {
    width: 500%;
    position: center;
    font-size: 0;
    animation: 20s slidy infinite;
  }
  /*.Debut {
    margin-top: 32%;
    margin-left: 40%;
  }*/
  .activite {
    background-color: rgba(255,255,255);
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 3%;
}
.activite:hover img {
    height: 450px;
}

.img-activite {
    height: 400px;
    transition: 3s;
}

.text-activite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    border: 3px solid black;
    margin: 60px;
    padding: 15px;
    background-color: rgba(255,255,255);
    font-size: 20px;
}

p {
    text-align: center;
}

