*{
	margin:0 ;
	padding: 0;
}
 .navbox ul{
 	display: flex;
 	justify-content: space-around;
 }
li{
	list-style: none;
}
 .navbox a {	
 	text-decoration: none;
    color:white;
 }
 .logo{
 	text-align: center;
 	padding-top: 5px;
    padding-bottom: 5px;
 }
      /*header et hover*/
 header {
 	background-color: rgba(0,0,0,0.3);
   border-bottom: 2px solid white;
 }
 header:hover{
  background-color:white;
  color: black;
  opacity: 0,5;
 }
 header:hover a{
   color: black;
   background-color: rgba(255, 255, 255, 0);
 }
      /*bouton reservation*/
 .cta{
    background-color:goldenrod;
    border-radius: 2px;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: -12px 0px 10px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
 }
 
 .cta:hover{
    background-color:rgba(0,0,0,0.5);
  color: white;
 }
 .cta:hover a{
    background-color:rgba(0,0,0,0);
  color: white;
 }
 body{
   background-color: #f1f1f1;
   font-family: arial;
   display: flex;
   flex-direction: column;
   height: 100vh;
 }
      /*footer*/
 footer{
   border-top: 2px solid black;
   width: 100%;
   background:#eed9c4;
   color: white;
   flex-shrink: 0;
   position: absolute;
 }

footer img{
   width: 30px;
}
footer h3{
   font-size: 25px;
   padding-bottom: 20px;
}
.footer-contact p{
   padding: 5px 0;
}
footer li{
   list-style-type: none;
}
.list-services li{
   padding: 2px 0;
}
.list-services a{
   text-decoration: none;
   color: white;
}
.list-services a:hover{
   color: black;
}
.contenu{
   width: 1200px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   font-size: 20px;
   margin: 50px 0 100px;
   flex: 1 0 auto;
   margin-left: 130px;
}
.block{
   width: 25%;
   margin: 0 30px;
}

/* Restaurant & Bar*/

.Titre {
    margin-top: 2%;
    text-align: center;
    color: white;
    font-size: 170%;
    margin-top: 1%;
    margin-bottom: 2%;
}
.Arg {
    text-align: center;
    color: white;
    font-size: 100%;
}
.Partie {
        background-color: hsla(0, 0%, 100%, 0.50);
        text-align: center;
        color: black;
        margin: 2%;
        max-width: 50%;
        max-height: 50%;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 4%;
}
#Partie {
   -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 5px 7px rgba(0,0,0,0); 
   box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 5px 7px rgba(0,0,0,0);
}
.Dim {
    max-height: 100%;
    max-width: 100%;
}
/*carroussel*/

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  touch-action: none; 
}

body {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #111;
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#drag-container, #spin-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-10deg);
          transform: rotateX(-10deg);
}

#drag-container img, #drag-container video {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 200px;
  font-size: 50px;
  text-align: center;
  -webkit-box-shadow: 0 0 8px #fff;
          box-shadow: 0 0 8px #fff;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}

#drag-container img:hover, #drag-container video:hover {
  -webkit-box-shadow: 0 0 15px #fffd;
          box-shadow: 0 0 15px #fffd;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
}

#drag-container p {
  font-family: Serif;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotateX(90deg);
          transform: translate(-50%,-50%) rotateX(90deg);
  color: #fff;
}

#ground {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotateX(90deg);
          transform: translate(-50%,-50%) rotateX(90deg);
  background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
}

#music-container {
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes spin {
  from{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  } to{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes spin {
  from{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  } to{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@-webkit-keyframes spinRevert {
  from{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  } to{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@keyframes spinRevert {
  from{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  } to{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}